.auth {
  background-color: #3289C8;
  color: #E9E9E9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 150px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.75);

  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  input {
    display: block;
    margin: 0 auto 5px;
    color: #3289C8;
    background-color: #E9E9E9;
    border: 1px #E9E9E9 solid;
    border-radius: 5px;
  }

  button {
    display: block;
    margin: 0 auto;
    border: 2px solid #E9E9E9;
    border-radius: 5px;
    color: #E9E9E9;
    font-size: 16px;
    background-color: #3289C8;
  }

  .error {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    color: #FB607F;
    text-shadow: black 1px 1px 0;
  }
}
